<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navbar') %> 
    <div class="container">
        <div class="d-flex flex-column justify-content-center aligh-items-center">
            <h1 class="text-center my-5">New CEO</h1>
            <form method="POST">
                <label for="ceo_name">CEO Name</label>
                <input type="text" name="ceo_name" id="ceo_name">
                <br>
                <label for="ceo_year">Year Appointed</label>
                <input type="text" name="ceo_year" id="ceo_year">
                <br>   
                <button type="submit">Add New CEO</button>
            </form>
        </div>
    </div>
</body>
</html>